<div class="card">
  <div class="card-header">
    <h1>Login</h1>
  </div>
  <div class="card-body">
    <form id="login-form" style="width:40%">
      <label for="username-input">Username:</label>
      <input type="text" id="username-input">
      <label for="password-input">Password:</label>
      <input type="password" id="password-input">
      <button class="btn" type="submit">Login</button>
      <p><a href="/signup">Signup</a></p>
    </form>
  </div>
</div>
<script src="/js/login.js"></script>