<div class="card">
  <div class="card-header">
    <h1>Signup</h1>
  </div>
  <div class="card-body">
    <form id="signup-form" style="width:40%">
      <label for="username-input">Username:</label>
      <input type="text" id="username-input">
      <label for="password-input">Password:</label>
      <input type="password" id="password-input">
      <label for="confirm-input">Confirm Password:</label>
      <input type="password" id="confirm-input">
      <button class="btn" type="submit">Signup</button>
      <p><a href="/login">Login</a></p>
    </form>
  </div>
</div>
<script src="js/signup.js"></script>